@model IQueryable<CategoryNode>

<style>
    .accordion {
        transition: 0.4s;
    }

        .accordion:after {
            content: '\002B';
            color: #777;
            font-weight: bold;
        }

    .active:after {
        content: "\2212";
    }

    .panel {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
</style>

<div class="card text-center mt-2">
    <div class="card-body">
        <h5 class="card-title">Категории</h5>
        <a class="btn btn-block btn-light rounded-pill mb-1"
           asp-action="List"
           asp-controller="Product"
           asp-route-category="">
            Все товары
        </a>

        @if (Model.FirstOrDefault(c => c.IsRoot).Children.Count != 0)
        {
            @foreach (var category in Model.FirstOrDefault(c => c.IsRoot).Children.OrderBy(c => c.Name))
            {
                <div class="row">
                    <div class="col">
                        <a class="btn rounded-pill btn-block
                        @(category.ID.ToString() == ViewBag.SelectedCategory ? "btn-primary" : "btn-light")"
                           asp-action="List"
                           asp-controller="Product"
                           asp-route-categories="@category.ID"
                           asp-route-category="@category.ID"
                           asp-route-productPage="1">
                            @category.Name
                        </a>
                    </div>
                    <div class="col col-md-auto">
                        <button class="accordion btn btn-light btn-block rounded-pill" id="@category.ID"></button>
                    </div>
                </div>
                <div class="panel mt-1" id="@("panel_" + category.ID)">
                    <partial name="ChildCategoryItem" model="new CategoryCostylViewModel { ID = category.ID, Categories = Model }" />
                </div>
            }
        }
    </div>
</div>
<div class="card text-center mt-2">
    <div class="card-body">
        <h5 class="card-title">Фильтр</h5>
        <form asp-action="List" asp-controller="Product" method="post">
            <h6>Категории</h6>
            @foreach (var category in Model.FirstOrDefault(c => c.IsRoot).Children.OrderBy(c => c.Name))
            {
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input name="categories" class="form-check-input" type="checkbox" value="@category.ID" id="defaultCheck">
                            <label class="form-check-label" for="defaultCheck">
                                @category.Name
                            </label>
                        </div>
                    </div>
                    <div class="col col-md-auto">
                        <a class="accordion" id="@(category.ID+category.Name)"></a>
                    </div>
                </div>
                <div class="panel mt-1" id="@("panel_" + category.ID + category.Name)">
                    <partial name="ChildCategoryItemCheck" model="new CategoryCostylViewModel { ID = category.ID, Categories = Model }" />
                </div>
            }
            <br />
            <h6>Цена</h6>
            <div class="form-row">
                <div class="col">
                    <input name="minPrice" type="number" min="0" placeholder="Мин" class="form-control">
                </div>
                <div class="col">
                    <input name="maxPrice" type="number" min="0" placeholder="Макс" class="form-control">
                </div>
            </div>
            <br />
            <button class="btn btn-light rounded-pill" type="submit">Найти</button>
        </form>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var panel = document.getElementById("panel_" + this.id);
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
