@model IEnumerable<Order>
@{
    ViewBag.Title = "Мои заказы";
    Layout = "_AdminLayout";
}

<div class="card mt-2">
    <div class="card-body">
        <h3 class="card-title">Мои заказы</h3>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr><th>Дата</th><th>Имя</th><th>Индекс</th><th colspan="2">Детали</th><th>Статус</th><th>Действия</th></tr>
                </thead>
                @foreach (Order o in Model)
                {
                    <tr>
                        <th>@o.Date</th>
                        <th>@o.Name</th>
                        <th>@o.Zip</th>
                        <th>Товар</th>
                        <th>Количество</th>
                        @if (o.Canceled)
                        {
                            <th>Отменен</th>
                        }
                        else
                        {
                            <th>@(o.Shipped ? "Отправлен" : "В обработке")</th>
                        }
                        <td style="width:5%">
                            <form asp-action="Cancel" method="post">
                                <input type="hidden" name="orderId" value="@o.OrderID" />
                                <button type="submit" class="btn btn-sm btn-danger rounded-pill" @(o.Shipped ? "disabled" : "") @(o.Canceled ? "disabled" : "")>
                                    Отменить
                                </button>
                            </form>
                        </td>
                    </tr>
                    @foreach (CartLine line in o.Lines)
                    {
                        <tr>
                            <td colspan="2"></td>
                            <td></td>
                            <td>@line.Product.Name</td>
                            <td>@line.Quantity</td>
                            <td></td>
                        </tr>
                    }
                }
            </table>
        }
        else
        {
            <div class="text-center">Нет заказов</div>
        }
    </div>
</div>

