@model Product

<div class="card mt-2">
    <div class="row no-gutters">
        <div class="col-md-2">
            @if (!String.IsNullOrWhiteSpace(Model.ImageId))
            {
                <img src="@Url.Action("GetImage", new { id=@Model.ImageId })" class="card-img" alt="Товар" />
            }
            else
            {
                <img src="~/images/pets.png" class="card-img" alt="Товар" />
            }
        </div>
        <div class="col-md">
            <div class="card-body">
                <h5 class="card-title">
                    <a asp-action="Info" asp-controller="Product" asp-route-productId="@Model.ID">@Model.Name</a>
                    <span class="badge badge-pill badge-primary" style="float:right">
                        <small>@Model.Price.ToString("c", CultureInfo.GetCultureInfo("uk-UA"))</small>
                    </span>
                </h5>
                <form id="@Model.ID" asp-action="AddToCart"
                      asp-controller="Cart" method="post">
                    <input type="hidden" asp-for="ID" name="productId" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (Model.IsInStock)
                        {
                            <button type="submit"
                                    class="btn rounded-pill btn-outline-success btn-sm pull-right" style="float:right">
                                Добавить в корзину
                            </button>
                        }
                        else
                        {
                            <h6 class="pull-right" style="float:right">Нет в наличии</h6>
                        }
                    }
                </form>
                <span class="card-text">@Model.Description</span>
            </div>
        </div>
    </div>
</div>
